* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #000;
  color: #fff;
}

.page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.hero {
  text-align: center;
  padding: 4rem 0;
}

.hero img {
  width: 29rem;
  margin-top: 15rem;
  margin-bottom: 3.6rem;
}

.hero h1 {

  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 1.8rem;
  color: #FFFFFF;
}

.hero span {
  color: #C9F31D;
}

.hero p {
  font-size: 2rem;
  margin-bottom: 5.8rem;
  color: #FFFFFF;
}

.hero button {
  width: 100%;
  max-width: 25rem;
  height: 4.8rem;

  font-weight: 600;
  font-size: 2rem;

  background-color: #C9F31D;
  border: none;
  border-radius: 0.625rem;

  padding: 0.55rem;
  margin-bottom: 4rem;

  cursor: pointer;

  transition: background-color 0.3s ease, transform 0.2s ease;
}

.hero a {
  color: #000;
  text-decoration: none;
}

.hero button:hover {
  background-color: #b8df1b;
  transform: scale(1.03);
}

/* Faixa Verde Limão */
.faixa-verde {
  width: 100%;
  background-color: #C9F31D;
  color: #000;
  padding: 4rem 0;
}

.content {
  background-color: #C9F31D;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content h2 {
  font-size: 4rem;
  font-weight: 700;
  padding-top: 5rem;
}

.topics-grid {
  max-width: 103rem;

  margin: 0 auto;
  padding: 5.8rem 0 9rem;
  display: grid;
  column-gap: 3rem;
  row-gap: 6.5rem;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.topics-box {
  background-color: black;
  color: #FFFFFF;


  width: 31.9rem;
  min-height: 30.9rem;
  border-radius: 0.625rem;

  display: flex;
  gap: 1.25rem;
  text-align: center;
  align-items: center;
  flex-direction: column;

}

.topics-box img {
  width: 6rem;
  padding-top: 5rem;
}

.topics-box h3 {
  font-size: 2rem;
  font-weight: 700;
}

.topics-box p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.about {
  background-color: #000000;
  color: #FFFFFF;

  display: flex;
  gap: 6.75rem;
  justify-content: center;

  padding: 7.75rem 11.25rem;
}

.about img {
  width: 50rem;
  height: 57rem;
}

.about .box-about {
  width: 54rem;

}

.about h2 {
  font-weight: 600;
  font-size: 6rem;

  margin-bottom: 1.75rem;
}

.about p {
  font-size: 1.75rem;
  text-align: left;
  line-height: 4rem;
}

.about button {
  width: 100%;
  /* se adapta ao container */
  max-width: 18rem;
  /* limita o tamanho em telas grandes */
  height: 6.6rem;

  font-weight: 600;
  font-size: 2rem;

  background-color: #C9F31D;
  /* contraste com o fundo limão */
  border: none;
  border-radius: 0.625rem;

  padding: 0.55rem;
  margin-top: 3rem;

  cursor: pointer;

  transition: background-color 0.3s ease, transform 0.2s ease;
}

.about a {
  color: #000;
  text-decoration: none;
}

.about button:hover {
  background-color: #b8df1b;
  transform: scale(1.05);
}

.learning-topics {
  display: flex;
  justify-content: center;
  padding: 3.5rem 22.5rem 4rem;
}

.box-learning h3 {
  background-color: black;
  border-radius: 0.625rem;
  padding: 1.3rem 2.7rem;

  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.5rem;

}

.box-learning ol {
  background-color: #FFFFFF;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 2.8rem;

  padding: 1.5rem 3.37rem;
  border: 0.1rem #000000 solid;
  border-radius: 0.625rem;

}

.box-learning li {
  margin-bottom: 2rem;
}

.footer {
  background-color: #000000;

  font-size: 2rem;
  color: #FFFFFF;

  display: flex;
  justify-content: space-between;

  padding: 5rem 5.6rem;

}

.hero-confirmation {
  background-image: url("./assets/bg.png");
  background-repeat: no-repeat;
  /* keyword */
  background-size: cover;
  /* width height */
  background-position: top center;
  /* vertical x horizontal*/
  background-color: #121214;
  /* HEX: RR, GG, BB */
  color: white;

  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

}

.hero-confirmation h1 {
  font-weight: 600;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #C9F31D;

  margin-top: 26rem;
}

.hero-confirmation p {
  font-size: 2rem;
  margin-bottom: 5.8rem;
  color: #FFFFFF;
  line-height: 2.5rem;

  margin-bottom: 26rem;
}

/* Faixa cinza */
.faixa-cinza {
  max-width: 100%;
  background-color: #201F1F;
  color: #000;
  padding: 4rem 0;
}

.content-confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-confirmation h2 {
  font-size: 2.5rem;
  font-weight: 600;
  padding-top: 7.3rem;
  color: #FFFFFF;
}

.content-confirmation h2 span {
  color: #C9F31D;
}

.topics-box-confirmation {
  background-color: #C9F31D;
  color: #121214;
  font-weight: 700;

  width: 31.9rem;
  height: 30.9rem;
  border-radius: 0.625rem;

  display: flex;
  gap: 1.25rem;
  text-align: center;
  align-items: center;
  flex-direction: column;

}

.topics-box-confirmation img {
  width: 6rem;
  padding-top: 5rem;
}

.topics-box-confirmation h3 {
  font-size: 2rem;
  font-weight: 700;
}

.topics-box-confirmation p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.topics-box-confirmation button {
  width: 100%;
  /* Ocupa toda a largura do container pai */
  max-width: 16.3rem;
  /* Mantém limite máximo */
  height: 4.75rem;

  background-color: #000000;
  font-weight: 600;

  border: none;
  border-radius: 0.625rem;

  cursor: pointer;

  transition: background-color 0.3s ease, transform 0.2s ease;
}

.topics-box-confirmation a {
  color: #C9F31D;
  text-decoration: none;
}

.topics-box-confirmation button:hover {
  background-color: #1a1a1a;
  transform: scale(1.03);
}

.footer-confirmation {
  font-size: 4rem;
  color: #000000;

  display: flex;
  flex-direction: column;
  align-items: center;

}

.footer-confirmation p {
  padding-bottom: 5.8rem;
}

.footer-confirmation button {
  width: 100%;
  /* Ocupa toda a largura do container pai */
  max-width: 16.3rem;
  /* Mantém limite máximo */
  height: 4.75rem;

  background-color: #000000;
  font-weight: 600;

  border: none;
  border-radius: 0.625rem;

  cursor: pointer;

  transition: background-color 0.3s ease, transform 0.2s ease;
}

.footer-confirmation a {
  color: #C9F31D;
  text-decoration: none;
}

.footer-confirmation button:hover {
  background-color: #1a1a1a;
  transform: scale(1.03);
}

@media (max-width: 1045px) {

  .topics-grid,
  .topics-grid-confirmation {
    grid-template-columns: repeat(2, 1fr);
  }

  .about {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about img {
    width: 70%;
    height: auto;
  }

  .footer {
    flex-direction: column;
    text-align: center;
    gap: 2rem;

  }
}

@media (max-width: 768px) {

  .topics-grid,
  .topics-grid-confirmation {
    grid-template-columns: 1fr;
  }

  .about {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about img {
    width: 90%;
    height: auto;
  }

  .footer {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }
}

.alerta {
  position: fixed;
  width: 30%;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
  padding: 15px 30px;
  border-radius: 5px;
  font-family: sans-serif;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: aparecer 0.5s ease-in-out, desaparecer 0.5s ease-in-out 4s;
  animation-fill-mode: forwards;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes desaparecer {
  from {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }

  to {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
}
